html, body, #container {
  background-color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

canvas {
  border: none;
  &:focus {
    outline: 0;
  }
}

#container {

  position: relative;

  & > div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

#gui {
  pointer-events: none;  
  * {
    pointer-events: all;
  }
}

input[type=button],
button {
  border-radius: 4px;
  border: 1px solid grey;
  &:hover {
    background-color: lightgray;
  }
}

.right {
  float: right;  
}

.left {
  float: left;
}

.dialog {
  & > * {
    margin-bottom: 8px;
  }
  margin: 8px;
  padding: 8px 8px 0 8px;

  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 4px;

  display: flex;
  flex: 1;
  flex-direction: column;

  max-width: 266px;

  textarea {
    height: 200px;
    display: flex;
    resize: none;
    font-size: 12px;
  }

}